.hd-search {
  margin-bottom: 40px;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 5%;
  background: #6fb8d3;
  color: #FFFFFF;

  &_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
  }
  &_search {
    width: 100%;
    &-text-field {
      border: none;
      outline: none;
      border-bottom: 1px solid #FFFFFF;
      padding-bottom: 3px;
      padding-left: 15px;
      width: 100%;
      height: 40px;
      background: none;
      color: #FFFFFF;
      &::placeholder {
        color: #FFFFFF;
      }
    }
  }
}
