.phgr-search {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;

  @media screen and (max-width: 950px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  @media screen and (max-width: 450px) {
    grid-template-columns: 1fr;
  }
}

.ph-card {
  display: block;
  width: 100%;
  max-height: 450px;
  overflow: hidden;

  &_name {
    text-transform: capitalize;
    text-align: center;
    background: #FFE4C4FF;
    margin-bottom: 0;
    padding: 10px 5px;
  }
  &_picture {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-item {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
